<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport Tutorial</title>
</head>
<body>
    Hi <%= name %>

    <form action="/account/logout?_method=DELETE" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>